.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  width: 70%;
}

.form {
  width: 300px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"] {
    width: calc(100% - 20px); /* Adjust input width to account for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in width calculation */
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }
}

.submit-button {
  width: 100%; /* Make button full width */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h2 {
  text-align: center;
}
