.notification {
  background-color: #54b949	;
  color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px; // Rounded corners
  animation: fadeOut 5s;
}

.message {
  font-size: 16px;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
